{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Submission Page</title> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/submitted.css' %}">
    </head>
    <body>
        <!--<fieldset class="submissionpage">-->
        <div class="submission">
                <div class="testbox">
                    <form action="/">
                    <div class="banner">
                        <h1>You have successfully completed filling the form.<br><br><br>Contact the the admin to refill.<br><br><br>Thank You!! </h1>
                    </div> 
                    </form>   
                </div>
        </div>
        <!--</fieldset>-->
    </body> 
    </html>  