body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    height: 100vh;
    background-blend-mode: darken;
}

::-webkit-scrollbar {
    width: 20px;
  }

.head {
    display: flex;
    color: white;
    justify-content: space-between;
}

header{
    background: #831238;
    color: white;
    padding-top: 10px;
    min-height: 50px;
}

header li{
    float: right;
    display: inline;
    padding: 0px 2rem 10px 20px;
}

a:link {
    color: white;
    text-decoration: None;
}

a {
    color: white;
}

.img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
    color: #fff;
}

li a:hover {
    color: grey;
}

h1 {
    text-align: center;
    background-color: #831238;
    color: #fff;
    margin: 20px;
    padding: 5px;
    font-size: 30px;
}

.select {
    font-size: 25px;
}

button {
    margin-top: 90px;
    color: white;
    background-color: #831238;
    border:rgb(83, 173, 83);
    border-radius: 3px;
}

button:hover {
    background-color: rgb(83, 173, 83);
}


.btn {
    margin-top: 90px;
    color: white;
    background-color: #831238;
    border:rgb(83, 173, 83);
    border-radius: 3px;
}

.btn:hover{
    background-color: rgb(83, 173, 83);
}

.vac {
    top: 10rem ;
    align-self:center;
    text-align: center;
    transform: translateY(38%);
}

.footer {
    background-color: #831238;
    padding-top: 9px;
    color: white;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    /* align-items: center; */
}

footer p {
    /* text-align: center; */
    padding-left: 10px;
}

footer i{
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 10px;
    padding-top: 8px;
    
}

.icon {
    padding-left: 3rem;
}

.footer_a {
    padding-left: 700px;
}

footer a {
    color: white;
}

.footer a:hover {
    color: grey;
}

footer a:focus {
    color: white;
}

/* @media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 20px;
    }
} */