.orange {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow-y: hidden;
    
}
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
}

.img {
    width: 200px;
    height: 40px;
    padding-right: 20px;
    padding-left: 1rem;
    padding-top: 5px;
}

h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.695);
    color: white;
    /* margin-top: 30px; */
    margin: 10px 0px 0px 0px;
    padding: 5px;
}
.member1{
    padding-bottom: 20px;
}
.blackbox{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
#red{
    float: left;
}
.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
  }
  
  #red {
    float: right;
  } 
  #red a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  #red a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
  #menu{
    font-family: cursive !important;
  }

body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    /* overflow-x: hidden; */
    background-blend-mode: darken;
    background: cover;
}
/*@media screen and (max-width: 600px) {
    body {
        background: fixed;
        color: white;
    }

    header li:not(:first-child){
        float: right;
        display: block; 
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1px; 
    }

    li {
        padding: 10rem;
    }    
}*/
.sidebar{
    /* height: 160px;
    width: 1100px; */
    border: 1px solid #831238;
    border-radius: 50px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.695);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    
}
.sidebar ul {
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 7px;
}

.sidebar h3{
    color:black;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left:  20px; ;
}

.sidebar ol{
    padding-top: 3px;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;   
}
#leftsidebar ol li{
    padding: 4px 0 4px 10px;
}

#rightsidebar ol li{
    padding: 17px 0 17px 70px;
}
.sidebar ol li p{
    text-decoration: none;
    font-size: 10pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease; */
}

/* .sidebar ol li p:hover, .sidebar ol li p.active{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
} */


#leftsidebar{
    /*height: 390px;
    width: 1130px;
    margin-left: 1rem;   
    margin-top: 1rem;
    margin-right: 5rem;
    margin-bottom: 2rem;*/
    height: fit-content;
} 

#rightsidebar{
    /*height: 130px;
    width: 1100px;
    margin-left: 1rem;   
    margin-top: 1rem;
    margin-right: 5rem;
    padding-right: 2rem;*/
    width: fit-content;
    height: fit-content;
 
}
.yellow{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #831238;
}
.blue{
    font-size: 20px;
    margin-top: 5px;
    background-color: #831238;
}
#black{
    vertical-align: bottom;
}
.check{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:10px;
}
#submit_button{
    width: 80px;
    padding: 6px;
    border: none;
    border-radius: 5px; 
    background:lightslategray;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    /* margin-left: 30rem;
    margin-top: 1rem; */
}
#button1{
    width: 150px;
    padding: 7px;
    border: none;
    border-radius: 10px; 
    background:lightslategray;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
#button1:hover{
    background-color: #831238;
}
.footer {
   background-color: #831238;
    padding-top: 9px;
    color: white;
    height: 50px;
    bottom: 0;
    width: 100vw;
    display: flex;
}

/* footer span {
    /*padding-left: 25rem;
} */

footer p {
    text-align: center; 
    padding-left: 10px;
}

footer i{
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 10px;
    padding-top: 8px;
    
}

/* .icon {
    padding-left: 3rem;
} */

 .footer_a {
    padding-left: 700px;
} 

footer a {
    color: white;
    padding-top: 10px;
}

.footer a:hover {
    color: grey;
}

footer a:focus {
    color: white;
}
@media (max-width: 768px) {
    #menu{
        width:100%;
    }
    body{
        width: 100%;
        /* overflow: hidden; */
    }
    .container-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .orange{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .yellow{
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: #831238;
    }
    .blue{
        font-size: 7px;
        margin-top: 5px;
        background-color: #831238;
    }
    .sidebar{
        width: 250px;
        height: 100px;
    }
   .footer{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        height: 40px;
        font-size: 10px;
    }
    .yellow{
        padding-left: 20px;
    }
    #popup{
        padding-left: 100px;
        padding-right: 50px;
        padding-bottom: 100px;
        margin-left: -300px;
        width: auto;
        display: block;
    }
    /*.footer {
        width: 100px;
        font-size: 9px;
        display: flex;
        /* padding-top: x20px !important; 
        height: 76px !important;
        padding-bottom: 10px !important;
      }
      footer span {
        padding-left: 5px !important;
        /* text-align: center; 
      }
      /* footer p{
        padding-left: 50px;
      } 
      footer a{
        /* font-size: 1px; 
        /* padding-right: -100px !important; 
        display: flex;
        height: 10px;
        padding-left: 10px;
        /* border: 16px 10px 0px 0; 
      } */
      .footer {
        width: 200px;
        font-size: 9px;
        display: flex;
        /* padding-top: x20px !important; */
        height: 76px !important;
        /* padding-bottom: 10px !important; */
      }
      footer span {
        padding-left: 10px !important;
        text-align: center;
      }
      footer p{
        padding-left: 1000px !important;
      }
      .footer_a {
        padding-left: 90px;
      }
      footer a{
        font-size: 1px;
      }
      .icon {
        /* font-size: 0.1em; */
        width: 50px;
        height: 50px;
        display: flex;
        padding-left: 50px !important;
      }
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
    background: rgba(255, 255, 255, 0.695);
    width: auto;
    height: auto;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}

#popupclose {
    float: right;
    padding: 10px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    pointer-events: none;
}

.popupcontent {
    padding: 10px;
}

#button {
    cursor: pointer;
}
.footer {
    background-color: #831238;
    /* margin-top: 39.8rem; */
    padding-top: 9px;
    color: white;
    height: 64px;
    /* padding-left: 100px; */
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    /* border-radius: 6px; */
}

footer span {
    padding-left: 450px;
}

footer p {
    /* text-align: center; */
    padding-left: 100rem;
}

footer a{
    /* align-items: center; */
    font-size: 1.5rem;
    /* padding-left: 1rem; */
    /* padding-right: 10px; */
    padding-top: 8px;
    align-items: center;
    /* display: flex; */
}

.icon {
    /* padding-left: 22rem; */
    /* display: flex; */
    align-items: center;
}

/* .footer_a {
    padding-left: 700px;
} */

footer a {
    color: white;
    padding-top: 0px;
}

.footer a:hover {
    color: grey;
}

footer a:focus {
    color: white;
}