<!DOCTYPE html>
<html>
<head>
<style>
.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert-error {background-color: #f44336;}
.alert-success {background-color: #4CAF50;}
.alert-info {background-color: #2196F3;}
.alert-warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}
</style>
</head>
<body>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} ">
  <span class="closebtn">x</span>  
  <strong>
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    Error: 
  {% else %}
    {{ message.tags|title }}: 
  {% endif %}
  </strong> 
  {{ message }}
</div>
{% endfor %}


{% endif %}
<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
    setTimeout(function() {document.getElementsByClassName("closebtn").innerHTML='';},5);
}
</script>

</body>
</html>
