<section>
  <footer class="footer">
    <div class="text">
      <span> 
        <a href="#"></a> | &#169; 2022 All Rights Reserved, ACM Sathyabama Institute of Science and Technology   |
      </span>
      <div class="icon">
        <a href="https://www.instagram.com/acmsist/" class="footer_a" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/acm-sist-student-chapter/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>
</section>