.bluebox{
  padding-left: 10rem ;
  font-size: 17 ;
}
html, body {
      min-height: 100% ;
      }
      body, div, form, input, label { 
      padding: 0 ;
      margin: 0 ;
      outline: none;
      font-family: Roboto, Arial, sans-serif ;
      font-size: 20px ;
      color: #666 ;
      line-height: 22px ;
      }

      textarea {
        width: 100% ;
        height: 100px ;
      }
      legend { 
      color: #fff ;
      background-color: #831238 ;
      padding: 3px 5px ;
      font-size: 20px ;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 40px;
      color: #fff;
      z-index: 2;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 100%;
      padding: 25px;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0 0 15px 0  #831238; 
      }
    .banner {
      background-color: #831238;
    position: relative;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
      }
    .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      .label {
        color: #101010;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
     /*.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color:#831238;
      }*/
     .item input:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #831238;
      color:#831238;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .item span {
      color: red;
      }
      .question span {
      margin-left: 30px;
      }
      .btn-block {
      margin-top: 10
      px;
      text-align: center;
      }
      button {
      width: 140px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #831238;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: lightslategray;
      }
      @media (min-width: 768px) {
      .name-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
      .name-item input,.name-item div {
      width: calc(50% - 20px);
      }
      .name-item div input {
      width:97%;}
      .name-item div label {
      display:block;
      padding-bottom:5px;
      }
      }

.staff-form {
  padding-left: 3rem;
  padding-right:3rem;
  width: 70%;
}

#staff {
  padding-left: 15rem ;
}
.team {
  padding-bottom: 2rem;
}
.staffs {
  display: grid;
  grid-template-columns: 5fr 0fr;
  gap: 5rem;
}
#domain{
    font-size: 10;
}
#photo{
    border-style: groove;
}

.img-text {
font-size: small;
margin: 0 0;
}