.member1{
  padding-bottom:20px;
  
}
ul{
  padding: 0; 
  margin: 0;
  list-style: none; 
}
li{
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #831238;
}

li {
  float: right;
} 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  line-height: 20px;
}
li a:hover {
  background-color: lightslategray;
  font-weight: bold;
}
#menu{
  font-family: cursive !important;
}
html {
    box-sizing: border-box;
    font-family: cursive;
  }
  img{
    width: 247px;
    height: 460px;
  }
  .column{
    width: 247px;
    border: 1px #000;
  }
  #dev{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 2px;
    margin-bottom: 0px;
  }
  #box{
     margin-top: 20px;
  }
  .column :hover{
    box-shadow: 0 0 9px 0 #831238;
    border-radius: 6px;
    color: darkblue ;
    background-color: beige;
  }
  .container{
    pointer-events: none;
  }
  h2{
    pointer-events: none;
  }
  p{
    pointer-events: none;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .bluebox{
    box-shadow: 0 0 15px 0 #831238;
    border-radius: 7px;
    border-width: auto;
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .footer {
      width: 200px;
      font-size: 9px;
      display: flex;
      /* padding-top: x20px !important; */
      height: 65px !important;
      /* padding-bottom: 10px !important; */
    }
    footer a{
      font-size: 1px;
    }
    .icon {
      /* font-size: 0.1em; */
      width: 50px;
      height: 50px;
      display: flex;
    }
  }
  
  /*.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }*/
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: #000;;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  fieldset{
    margin-top: 20px;
    border-radius: 6px;
  }
  .row{
    margin-top: 2px;
  }

  .footer {
    background-color: #831238;
    /* margin-top: 39.8rem; */
    padding-top: 9px;
    color: white;
    height: 67px;
    padding-left: 100px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 6px;
}

footer span {
    padding-left: 200px;
}

footer p {
    /* text-align: center; */
    padding-left: 10px;
}

footer a{
    /* align-items: center; */
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 10px;
    padding-top: 8px;
    /* display: flex; */
}

/* .icon {
    padding-left: 3rem;
} */

/* .footer_a {
    padding-left: 700px;
} */

footer a {
    color: white;
    padding-top: 0px;
}

.footer a:hover {
    color: grey;
}

footer a:focus {
    color: white;
}