.member1{
    padding-bottom:20px;
    
}
ul{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
li{
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
  }
  
  li {
    float: right;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  li a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
  #menu{
    font-family: cursive !important;
  }

  .head {
    display: flex;
    color: white;
    justify-content: space-between;
}

header{
    background: #831238;
    color: white;
    padding-top: 10px;
    min-height: 50px;
}

header li{
    float: right;
    display: inline;
    padding: 0px 2rem 10px 20px;
}

a:link {
    color: white;
    text-decoration: None;
}

a {
    color: white;
}

.img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
    color: #fff;
}

li a:hover {
    color: grey;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0056 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0056 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0056 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  float: right;
  right: -15%;
  z-index: 1;
}
figure.snip0056 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0;
  width: 50%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
  margin: 0;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
figure.snip0056 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
  font-weight: 800;
}
figure.snip0056 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0056 figcaption .icons {
  width: 100%;
  text-align: left;
}
figure.snip0056 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.snip0056 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0056 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0056 .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
  clear: both;
}
figure.snip0056.blue .position {
  background: #20638f;
}
figure.snip0056.red .position {
  background: #962d22;
}
figure.snip0056.yellow .position {
  background: #bf6516;
}
figure.snip0056:hover > img,
figure.snip0056.hover > img {
  right: -12%;
}


/* Demo purposes only */
html {
  height: 100%;
}
body,form {
  background-color: white;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto,arial,sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 30px;
}
.snip0056 {
  display: inline-block;
}
form{
    width: 100%;
    padding: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: 6px;
    display: block;
    background: #fff;
     box-shadow: 0 0 15px 0  #831238; 
}
