body {
    background-image: url("Image/slider-1.jpg");
}

/* .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 700px;
    height: 600px;
    background: rgba(250, 250, 250, 0.695); 
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
} */

.img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
}

h1 {
    text-align: center;
    background-color: #831238;
    color: white;
    /* margin-top: 30px; */
    margin: 10px 0px 0px 0px;
    padding: 5px;
}
ul{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
li{
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
  }
  
  li {
    float: right;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  li a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
  #menu{
    font-family: cursive !important;
  }

body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    height: 100vh;
    /* overflow: hidden; */
    background-blend-mode: darken;
    background: cover;
}

.footer {
    background-color: #831238;
}
/*@media screen and (max-width: 600px) {
    body {
        background: fixed;
        color: white;
    }

    header li:not(:first-child){
        float: right;
        display: block; 
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1px; 
    }

    li {
        padding: 10rem;
    }    
}*/
@media (max-width: 768px) {
    .body{
    }
}
    
