.member1{
    padding-bottom:20px;
    
}
ul{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
li{
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
  }
  
  li {
    float: right;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  li a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
  #menu{
    font-family: cursive !important;
  }


   
/*#menu ul li{
    float: left;
    padding: 0 20px;
    height: 27px;
    border-right: 1px solid black;
}    
#menu ul li:last-child{
    border-right: none; 
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color:black;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color:black;
}*/


.bluebox{
  padding-left: 20rem;
  font-size: 17;
}
html, body {
      min-height: 100%;
      }
      body, div, form, input, label { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto,arial,sans-serif;
      /* font-size: 20px; */
      color: #666;
      line-height: 22px;
      }
      textarea {
        width: 100%;
        height: 100px;
      }
    .project {
      display: grid;
      gap: 5rem;
      grid-template-columns: 1fr 1fr;
    }
      legend { 
      color: #fff;
      background-color: #831238;
      padding: 3px 5px;
      font-size: 20px;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 36px;
      color: #fff;
      z-index: 2;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
     form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 15px 0  #831238; 
      }
    .banner {
      background-color: lightcyan;
      position: relative;
      height: 320px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
    .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.6); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color:#831238;
      }
      .item input:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #831238;
      color:#831238;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .item span {
      color: red;
      }
      .question span {
      margin-left: 30px;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #831238;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: lightslategray;
      }
      @media (max-width: 768px) {
      .name-item{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input,.name-item div {
      width: calc(50% - 20px);
      }
      .name-item div input {
      width:97%;}
      .name-item div label {
      display:block;
      padding-bottom:5px;
      }
      }

.team-form {
  margin-right: 20rem;
  padding:7px 15px 12.5px;
  width: 70%;
  float: center;
}
/*#team-1 {
  padding-left: 4rem !important;
}*/

.name-item {
  display: flex;
  width: 50rem !important;
}
.team {
  padding-bottom: 2rem;
  margin-left: 5rem;
  /* padding-left: 15rem; */
  margin-right: 5rem;
}
.team-member {
  display: grid;
  /* padding-left: 2rem !important; */
  /* grid-template-columns: 90fr 1fr; */
  gap: 5rem;
  /* padding-left: 15rem;    */
  /* margin-right: 1100rem; */
  width: 100%;
}

#name {
  width: 45%;
  clear: both;
}

.some {
  margin-left: 5rem;
  width: 50%;
}

.footer {
  background-color: #831238;
  /* margin-top: 39.8rem; */
  padding-top: 1px;
  height: auto;
  color: white;
  height: 50px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  display: flex;
  /* align-items: center; */
}

footer p {
  /* text-align: center; */
  padding-left: 10px;
}

footer i{
  align-items: center;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 10px;
  padding-top: 8px;
  
}

.icon {
  padding-left: 3rem;
}

.footer_a {
  padding-left: 45rem;
  float: right;
}

footer a {
  color: white;
  padding-top: 10px;
}

.footer a:hover {
  color: grey;
}

footer a:focus {
  color: white;
}

.drop {
  min-width: 130px;
  text-align: center;
  margin-left: 20px;
  border-radius: 6px;
}