<!DOCTYPE html>
<html>
<head>
    <title>Credits</title>
    <link rel="stylesheet" type="text/css" href="./credit.css">
</head>
<body>
    <nav id="menu">
        <ul>
            <li><a href="#">Rules</a></li>
            <li><a href="../GuideList/guide.html">Guide List</a></li>
            <li><a href="../Home/home.html">Home</a></li>
        </ul>
    </nav>
   <form action="">
    <header>
        <!--<nav class="head" >
            <a href="{% url 'home' %}">
                <!-- <img src="{% static 'img/headimg.jpeg' %}" class="img" alt="Home" >
            </a>
            <ul>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>-->
    </header>
    <form action="">
    <fieldset class="box">                 
    <figure class="snip0056">
    <figcaption>
      <h2>HARIHARAN <span>BP</span></h2>
      <p></p>
      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption><img src="./self-dp.jpeg" alt="sample8" />
    <div class="position">FULL STACK DEVELOPER</div>
  </figure>
  <figure class="snip0056 ">
    <figcaption>
      <h2>JAGADEESH <span>N</span></h2>
      <p></p>
      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample9.jpg" alt="sample9" />
    <div class="position">FULL STACK DEVELOPER</div>
  </figure>
  <figure class="snip0056">
    <figcaption>
      <h2>MOHNISH <span>DEVARAJ</span></h2>
      <p></p>
      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample8.jpg" alt="sample8" />
    <div class="position">FULL STACK DEVELOPER</div>
  </figure>
  <figure class="snip0056" id="sbox">
    <figcaption>
      <h2>Abiram <span></span></h2>
      <p></p>
      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample8.jpg" alt="sample8" />
    <div class="position">Web Designer</div>
  </figure>
  <figure class="snip0056">
    <figcaption>
      <h2>Om Vivek <span></span></h2>
      <p></p>
      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample8.jpg" alt="sample8" />
    <div class="position">Web Designer</div>
  </figure>
  <figure class="snip0056">
  </fieldset>
  </form>
</body>
</head>