{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{% static 'css/login.css' %}">
    <link rel = "icon" href = "{% static 'img/logo.jpg' %}" type = "image/x-icon">
    <title>Login Page</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h1>
        You are not allowed here!
        You are already logged-in!
    </h1>
    {% else %}
    <header>
        <nav id="menu">
            <!-- <a href="../Home/home.html">
             <img src="Image/headimg.jpeg" class="img">
            </a> -->
            <ul class="blackbox">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="center">
        <h1>Login</h1>
        {% include 'partials/_alerts.html' %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="email" required>
                <label>Email/TeamID(If team is registered)</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="myInput" required>
                <label>Password</label>
            </div>
            <input type="checkbox" onclick="myFunction()" id="myInput">Show Password
            <br>
            <br>
            <div class="pass">Don't have an account! <a href="{% url 'register' %}">Create Account</a></div>
            <input type="submit" value="Login">
            <div class="signup_link"></div>
        </form>
    </div>
    <!-- <footer class="footer">
        <p>Already</p>
    </footer> -->
    {% endif %}
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
    </script>
</body>
</html>