{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{% static 'css/login.css' %}">
    <title>Login Page</title>
</head>

<body>
    <header>
            <nav class="head" >
                <a href="{% url 'home' %}">
                 <img src="{% static 'img/headimg.jpeg' %}" class="img">
                </a>
                <ul>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </nav>
    </header>
    <div class="center">
        <h1>Login</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="pass">Don't have an account! <a href="../Register/register.html">Create Account</a></div>
            <input type="submit" value="Login">
            <div class="signup_link"></div>
        </form>
    </div>
</body>
</html>