{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">
</head>
<body>    
    <p>HTTP: <span class="error">400</span></p>
    <code><span>this_page</span>.<em>bad_request</em> = true;</code>
    <code><span>if</span> (<b>you_sent_it_wrong</b>) {<span>you are not supposed to do that! </span>;}</code>
    <code><span>else if (<b>You_are_screwed_up</b>)</span> {<em>alert</em>(<i>"We're really sorry about that."</i>); <span>window</span>.<em>location</em> = home;}</code>
    <center><a>HOME</a></center>
<script type="text/javascript" src="{% static 'js/error.js' %}"></script>
</body>
</html>