{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PROJECT FORM</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
        <link rel = "icon" href = "{% static 'img/logo.jpg' %}" type = "image/x-icon">
    </head>
    <body>
        <nav id="menu">
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
        <div class="testbox">
            <form action="{% url 'project-details-2' %}" method="POST">
                {% csrf_token %}
              <div class="banner">
                <h1>Final Year Project Guide selection</h1>
              </div>
              <p class="bluebox">Please fill out with the information that is requested below and submit the Guide selection form. Thank you!</p>
              {% include 'partials/_alerts.html' %}
              <hr/>
              <fieldset>
                <legend>Project Information</legend>
                <div class="project">
                    <div class="item">
                        <label for="name">Project Title<span>*</span></label>
                        <input id="name" type="text" name="project_name" placeholder="  Project title" required/>
                    </div>
                    <div class="item">
                        <label for="domain">Project Domain<span>*</span><p>(Ex: Machine Learning,Cloud Computing,Block Chain)</p></label>
                        <input id="domain" type="text" name="project_domain" placeholder="  Project domain" required/>
                    </div>
                </div>
                <div class="item">
                  <label for="description">Project Description<span>*</span></label>
                  <textarea id="description" type="text" name="project_description" placeholder="  Project description" minlength="50" required></textarea>
                </div> 
                  <div class="item">
                    <div class="name-item">
                    </div>
                  </div>
              </fieldset>
              </br>
             <div class="team-member">
                <div class="team" id="team-1">
                    <fieldset class="team-form" >
                        <legend>Team Member 1</legend>
                        <div class="item">
                        <label for="name">Name<span>*</span></label>
                        <div class="name-item">
                        <input id="name" type="text" name="first_name" placeholder="  First" value="{{ user.first_name }}" disabled/>
                        <input id="name" type="text" name="last_name" placeholder="  Last" value="{{ user.last_name }}" disabled/>
                        </div>
                        </div>
                        <div class="item">
                        <label for="regno">Register Number<span>*</span></label>
                        <input id="regno" type="text" name="reg_no_1" placeholder="  Register Number" required/>
                        </div>
                        <div class="item">
                        <label for="email">Email<span>*</span></label>
                        <input id="email" type="email" name="student_1_email" placeholder="  Email Id" value="{{ user.email }}" disabled/>
                        </div>
                        <div class="item">
                        <label for="phno">Phone Number<span>*</span></label>
                        <input id="phno" type="text" name="student_1_no" placeholder="  Phone Number" required />
                        </div>
                    </fieldset>
                </div>
                <div class="team" id="team-2">
                    <fieldset class="team-form" >
                        <legend>Team Member 2</legend>
                        <div class="item">
                        <label for="name">Name</label>
                        <div class="name-item">
                        <input id="name" type="text" name="first_name_2" placeholder="  First" required/>
                        <input id="name" type="text" name="last_name_2" placeholder="  Last" required/>
                        </div>
                        </div>
                        <div class="item">
                        <label for="regno">Register Number</label>
                        <input id="regno" type="text" name="reg_no_2" placeholder="  Register Number" required/>
                        </div>
                        <div class="item">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="student_2_email" placeholder="  Email Id" value="{{ email.user_email }}" disabled/>
                        </div> 
                        <div class="item">
                        <label for="phno">Phone Number</label>
                        <input id="phno" type="text" name="student_2_no" placeholder="  Phone Number" required />
                        </div>
                    </fieldset>
                </div>
            </div>
                    <fieldset>
                    <div class="btn-block">
                    <button onclick="myFunction()" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
            </div>
        <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
        <script type = "text/javascript" >  
            function preventBack() { window.history.forward(); }  
            setTimeout("preventBack()", 0);  
            window.onunload = function () { null };  
        </script>
    </body> 
</html>

