{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" text="text/css" href="{% static 'css/guide.css' %}">
    <title>SELECT GUIDE</title>
</head>
<body>
    <header>
        <nav class="head" >
            <a href="#">
                <!-- <img src="{% static 'img/headimg.jpeg' %}" class="img" alt="Home" > -->
            </a>
            <ul>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="select">Select your Guide</h1>
    <table border="1" cellspacing="0" class="content-table" >
        <div class="row col-md-6 table-responsive" style="position: relative; float: center; width: 100%; margin-top: 0; margin-left: 10px;">
        
        <table id="tblData" class="table table-bordered table-striped table-hover" style="margin-top:10px; ">
            <thead>
            <tr>
                <th class="text-center">Sr. No.</th>
                <th class="text-center">Supervisor's Name</th>
                <th class="text-center">Specialization</th>
                <th class="text-center">Guideship Vacancy</th>
                <th class="text-center">Select</th>
            </tr>
              </thead>
                <tbody>
                    {% for guide in guides %}
                    {% if guide.id|divisibleby:"2" %}
                              <tr></tr>
                        <tr>
                            <td align="" class="vac">{{ guide.id }}</td>
                            <td align="center">
                                <img src="{{ guide.myImage.url }}" height="150px" width="150px"> <br>
                                {{ guide.name }}<br>{{ guide.designation }}<br>{{ guide.email }}</td>
                            <td>
                                <ul>
                                    <li>{{ guide.domain_1 }}</li>
                                    {% if domain_2 %}
                                        <li>{{ guide.domain_2 }}</li>
                                    {% endif %} 
                                    {% if domain_3 %} 
                                        <li>{{ guide.domain_3 }}</li>
                                    {% endif %}
                                    <br>
                                    <br>
                                    <br>
                                    <li>Years of Experience: {{ guide.experience }}</li>
                                </ul>
                            </td>
                            <td align="" class="vac">{{ guide.vacancy }}</td>
                            <td align="center"><button>Select</button></td>
                        </tr>
                    {% else %}
                    <tr>
                        <td align="" class="vac">{{ guide.id }}</td>
                        <td align="center">
                            <img src="{{ guide.myImage.url }}" height="150px" width="150px"> <br>
                            {{ guide.name }}<br>{{ guide.designation }}<br>Dean (School of Computing)<br>{{ guide.email }}</td>
                        <td>
                        <ul>
                            <li>{{ guide.domain_1 }}</li>
                            {% if guide.domain_2 %}
                                <li>{{ guide.domain_2 }}</li>
                            {% endif %}
                            {% if guide.domain_3 %}
                                <li>{{ guide.domain_3 }}</li>
                            {% endif %}
                            <br>
                            <br>
                            <br>
                            <li>Years of Experience: {{ guide.experience }}</li>
                        </ul>
                      </td>
                      <td align="" class="vac">{{ guide.vacancy }}</td>
                      <td align="center"><button>Select</button></td>
                  </tr>
                  {% endif %}
            </tbody>
            {% endfor %}
        </table>  
</body>
</html>