{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{% static 'css/login.css' %}">
    <link rel = "icon" href = "{% static 'img/logo.jpg' %}" type = "image/x-icon">
    <title>Mail Page</title>
</head>

<body>
    <header>
            <nav id="menu">
                <!--<a href="../Home/home.html">
                 <img src="Image/headimg.jpeg" class="img">
                </a>-->
                    <ul class="blackbox">
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                    </ul>
                <!--<ul>
                <li><a href="../Register/register.html">Register</a></li>
                <li><a href="../Login/login.html">Login</a></li>
                <li><a href="../Home/home.html">Home</a></li>
                </ul>-->
            </nav>
    </header>
    <div class="center">
        <h1>Verifying Mails</h1>
        <form action="{% url 'mail1' %}" method="POST">
            {% include 'partials/_alerts.html' %}
            {% csrf_token %}
            <div  class="txt_field">
                <input type="email" name="email_1" style="text-align: center;" value="{{ user.email }}" placeholder="Email of team member 1" disabled ><br><br>
                <input type="email" name="email_2" style="text-align: center; border: 1px solid black; " placeholder="Enter Email of team member 2" required><br><br> 
                <input type="submit">
            </div>
        </form>
    </div>
    <!-- <footer class="footer">
        <p>Already</p>
    </footer> -->
    <script type = "text/javascript" >  
        function preventBack() { window.history.forward(); }  
        setTimeout("preventBack()", 0);  
        window.onunload = function () { null };  
    </script>
</body>
</html>