{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd2255194d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" text="text/css" href="{% static 'css/register.css' %}"> 
    <title>Create account</title>
</head>
<body>
    <header>
        <nav id="menu">
            <!-- <a href="../Home/home.html">
             <img src="Image/headimg.jpeg" class="img">
            </a> -->
            <ul class="blackbox">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
    </header>
    <div class="center">
        <h1>Create Account</h1>
        {% include 'partials/_alerts.html' %}
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="first_name" required>
                <label>First Name</label>
            </div>
            <div class="txt_field">
                <input type="text" name="last_name" required>
                <label>Last Name</label>
            </div>
            <div class="txt_field">
                <input type="email" name="email" required>
                <label>Enter Email id</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <label>Enter Password</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password1" required>
                <label>Confirm Password <span>*</span></label>
            </div>
            <div class="txt_field1">
                <div class="depart">
                    
                    <label for="department" required>Select Department<span>*</span>: </label>
                    <select name="department" class="drop" required >
                        <!-- <optgroup> -->
                            <option value="CSE" class="opt">Department</option>
                        <!-- </optgroup> -->
                        <!-- <optgroup> -->
                            <option value="CSE" class="opt">CSE</option>
                        <!-- </optgroup> -->
                    </select>
                </div>
            </div>
            <br>
            <input type="submit" value="Register">
            <p>Already have an account! <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</body>
</html>