
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset your password | Sathyabama Institute of Science and Technology</title>
    <link rel = "icon" href = "{% static 'C:\\Users\\hp\\projects\\guide\\home\\static\\image\\logo.png' %}" type = "image/x-icon">
</head>
<body>
    <header>
        <nav class="head">
            <img src="{% static 'C:\\Users\\hp\\projects\\guide\\home\\static\\image\\head.jpeg' %}" class="img">
            <ul>
                <li><a class="w" href="register">Register</a></li>
                <li><a class="w" href="login">Login</a></li>
                <li><a class="w" href="main">Home</a></li>
            </ul>
        </nav>
        <img class="img1" src="{% static 'C:\\Users\\hp\\projects\\guide\\home\\static\\image\\sat.jpeg' %}">
    
</header>
    <div class="container">
            <div class="login">
               <!-- <h3>Login</h3>-->
            </div>
            <h1>Forgotten your password?</h1>
            <p>Enter your e-mail address to reset your password.</p>
            <form action="." method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>
      
</body>

{% endblock %}