{% extends "css.html" %}
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset your password | Sathyabama Institute of Science and Technology</title>
    <link rel = "icon" href = "{% static 'C:\\Users\\hp\\projects\\guide\\home\\static\\image\\logo.png' %}" type = "image/x-icon">
    </head>
<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
{% endblock %}
