.member1{
    padding-bottom:20px;
    
}
.blackbox{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
li{
    float: left;
}
/* .img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
} */
.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
  }
  
  li {
    float: right;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  li a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
 
body {
    background: url("Image/slider-1.jpg") no-repeat;
    margin: 0;
    padding: 0;
    font-family: cursive;
    height: 100vh;
    overflow: hidden;
    background-blend-mode: darken;
}

.center{
    position: absolute;
    padding-top: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(255, 255, 255, 0.695); 
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
}
.center h1{
    text-align: center;
    color: black;
    padding: 20px 0;
    /* border-bottom: 1px solid silver; */
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #831238;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: black;
}

.pass a{
    color: gray;
}

.pass a:hover {
    text-decoration: underline;
    color: black;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #831238;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
  
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/*.head {
    display: flex;
    color: white;
    justify-content: space-between;
}

header{
    background: #831238;
    color: white;
    padding-top: 0px;
    min-height: 50px;
}

header li{
    float: right;
    display: inline;
    padding: 0px 2rem 0 20px;
}


a:link {
    color: white;
    text-decoration: None;
}

a {
    color: white;
}
*/
.img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
}

li a:hover {
    color: grey;
}

p a {
    color: grey;
}

p a:hover {
    color: #831238;
    text-decoration: underline;
}

.footer {
    background-color: #831238;
    /* margin-top: 39.8rem; */
    padding-top: 9px;
    color: white;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

footer p {
    text-align: center;
    padding-left: 10px;
}

footer i{
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 10px;
    padding-top: 8px;
    
}

.icon {
    padding-left: 3rem;
}

.footer_a {
    padding-left: 700px;
}

.footer a:hover {
    color: grey;
}

footer a {
    color: white;
}
footer a:focus {
    color: white;
}
footer a{
    color: white;
}
