.member1{
    padding-bottom:20px;    
}
.blackbox{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
li{
    float: left;
}
.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
  }
  
  li {
    float: right;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  li a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
 
  #menu{
    font-family: cursive !important;
  }

body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    height: 100vh;
    background-blend-mode: darken;
    overflow-x: hidden;
}

/*.head {
    display: flex;
    color: white;
    justify-content: space-between;
}

header{
    background: #831238;
    color: white;
    padding-top: 10px;
    min-height: 50px;
}

header li{
    float: right;
    display: inline;
    padding: 0px 2rem 10px 20px;
}

a:link {
    color: white;
    text-decoration: None;
}

a {
    color: white;
}

.img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
    color: #fff;
}

li a:hover {
    color: grey;
}

h1 {
    text-align: center;
    background-color: #831238;
    color: #fff;
    margin: 20px;
    padding: 5px;
    font-size: 30px;
}*/

.select {
    font-size: 25px;
}

button {
    margin-top: 90px;
    color: white;
    background-color: #831238;
    border:rgb(83, 173, 83);
    border-radius: 3px;
}

button:hover {
    background-color: rgb(83, 173, 83);
}

.vac {
    top: 10rem ;
    align-self:center;
    text-align: center;
    transform: translateY(38%);
}

/* @media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 20px;
    }
} */

.footer {
    background-color: #831238;
    color: white;
    padding: 10px;
}

footer p {
    text-align: center;
}

footer i{
    align-items: center;
    font-size: 2rem;
    padding-left: 1rem;
}

.icon {
    padding-left: 3rem;
}

.footer_a {
    padding-left: 700px;
}

footer a:focus {
    color: white;
}
@media (max-width: 768px) {
   #menu{
    width: 100vh;
   }
}