.member1{
    padding-bottom:20px;    
}
.blackbox{
    padding: 0; 
    margin: 0;
    list-style: none; 
}
li{
    float: left;
}
.blackbox input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 16px;
    font-size: 17px;
}
.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831238;
}
.btn-default
{
    margin-top: 5px;
    margin-right: 20px !important;
}
/* .navbar-form 
{
    /* margin-top: -5px; 
} */
  
  li {
    float: right;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 20px;
  }
  li a:hover {
    background-color: lightslategray;
    font-weight: bold;
  }
 
  #menu{
    font-family: cursive !important;
  }

body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    height: 100vh;
    background-blend-mode: darken;
    overflow-x: hidden;
}

/*.head {
    display: flex;
    color: white;
    justify-content: space-between;
}

header{
    background: #831238;
    color: white;
    padding-top: 10px;
    min-height: 50px;
}

header li{
    float: right;
    display: inline;
    padding: 0px 2rem 10px 20px;
}

a:link {
    color: white;
    text-decoration: None;
}

a {
    color: white;
}

.img {
    width: 200px;
    height: 40px;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-top: 5px;
    color: #fff;
}

li a:hover {
    color: grey;
}

h1 {
    text-align: center;
    background-color: #831238;
    color: #fff;
    margin: 20px;
    padding: 5px;
    font-size: 30px;
}*/

.select {
    font-size: 25px;
}

button {
    margin-top: 90px;
    color: white;
    background-color: #831238;
    border:rgb(83, 173, 83);
    border-radius: 3px;
}

button:hover {
    background-color: rgb(83, 173, 83);
}

.vac {
    top: 10rem ;
    align-self:center;
    text-align: center;
    transform: translateY(38%);
}

/* @media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 20px;
    }
} */

.footer {
    background-color: #831238;
    color: white;
    padding: 10px;
}

footer p {
    text-align: center;
}

footer i{
    align-items: center;
    font-size: 2rem;
    padding-left: 1rem;
}

.footer_a {
    padding-left: 700px;
}

footer a:focus {
    color: white;
}

.box{
    /* margin: 100px auto; */
    width: 300px;
    height: 50px;
    margin-left: 90rem;
  } 
  
  .container-2{
    width: 300px; 
    vertical-align: middle; 
    white-space: nowrap; 
    height: -50rem !important; 
    position: relative;
  } 
  
  .container-2 input#search{
    width: 50px;
    height: 45px;
    background: lightgrey;
    margin-top: 3px;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
   
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
   
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
  }
   
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
   
  .container-2:hover input#search{
  width: 250px;
  }
   
  .container-2:hover .icon{
    color: #93a2ad;
    margin-top: 10rem;
  } 
/*****************************\
  /* .box{
    margin: 100px auto;
    width: 300px;
    /* height: 50px; 
  } */
  
  /*.container-2{
    /* width: 300px; */
    /* vertical-align: middle; */
    /* white-space: nowrap; */
    /* height: -50rem !important; 
    position: relative;
  } */
  
  /*.container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  } */
   
  /*.container-2 input#search:-moz-placeholder { /* Firefox 18- 
     color: #65737e;  
  }*/
   /*
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ 
     color: #65737e;  
  } */
   
  /*.container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
   
  .container-2:hover input#search{
  width: 300px;
  }
   
  .container-2:hover .icon{
    color: #93a2ad;
  }*/
@media (max-width: 768px) {
   #menu{
    width: 100vh;
   }
} 
@media screen and (max-width: 600px) {
    .blackbox input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }